<h1><%= @recipe.name %></h1>

<h2>Ingredients</h2>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li>
      <%= ingredient.format_for_display %>
    </li>
  <% end %>
</ul>

<h2>Instructions</h2>
<%= @recipe.instructions %>

<% if @recipe.notes.present? %>
  <h2>Notes</h2>
  <%= @recipe.notes %>
<% end %>
