<nav class="navbar is-transparent">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        GrocerLyst
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <% if current_user %>
          <%= link_to "Log Out", logout_path, method: :delete, id: "log-out-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
