#add-recipe-btn {
  margin-top: 20px;
}

#registration-form {
  padding-top: 5%;
  text-align: center;
}

#user-profile {
  padding-left: 15%;
  padding-right: 15%;
}

#user-welcome {
  padding-top: 4%;
  padding-bottom: 3%;
}
